.schedule {
  background-size: cover;
  background-position: center;
  padding: 4rem 6rem 8rem 6rem;
}

.schedule__background--hawaii {
  background-image: url(../assets/images/hawaii.jpg);
}

.schedule__background--iceland {
  background-image: url(../assets/images/iceland.jpg);
}

.schedule__background--greece {
  background-image: url(../assets/images/greece.jpg);
}

.schedule__title {
  font-size: 70px;
  color: #FFF;
}

.schedule__card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.schedule__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #FFF;
  height: 24rem;
  min-width: 16rem;
  border-radius: 5px;
  margin: 1rem 1.25rem;
}

.schedule__day {
  border-bottom: 2px solid black;
  margin: 1rem 0 2rem 0;
  width: 85%;
  text-align: center;
}

.schedule__text-container {
  list-style: none;
  width: 85%;
}

.schedule__text {
  background-color: #FEFAF5;
  font-size: 18px;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}