* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.header {
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 6rem;
}

.header__logo {
  color: #335576;
  font-size: 1.25rem;
}

.header__logo-link {
  color: #335576;
  text-decoration: none;
}

.header__link-container {
  list-style: none;
}

.header__link {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.header__link-text {
  font-size: 1rem;
  padding-bottom: .5rem;
  margin: 0 .5rem;
}

.header__link-text:hover {
  border-bottom: 2px solid #DB7A4E;
}

.header__link-text--border {
  border-bottom: 2px solid #DB7A4E;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fefaf5;
  color: #335576;
  padding: 2rem 10rem 2.5rem 10rem;
}

.footer__section-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: .5rem;
}

.footer__section-sub-title {
  font-size: .6rem;
  color: #DB7A4E;
  margin-top: 1.5rem;
}

.footer__section-text {
  font-size: 1rem;
  margin-top: .5rem;
}

.footer__hours-container {
  display: flex;
  flex-wrap: wrap;
}

.footer__hours {
  margin-right: 2rem;
}

.footer__image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.25rem;
}

.footer__image {
  height: 1.5rem;
  width: auto;
  margin-right: 2rem;
}