.slogan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FEFAF5;
  padding: 3rem 6rem;
}

.slogan__container {
  width: 50%;
}

.slogan__title {
  font-size: 34px;
  font-weight: 700;
  color: #335576
}

.slogan__text {
  font-size: 14px;
  color: #335576;
  margin-top: 2rem;
}

.slogan__button {
  background-color: #DB7A4E;
  border: 0;
  color: #FFF;
  padding: .5rem 2.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
}

.slogan__image {
  height: 20rem;
}

.recommendations {
  margin: 3rem 6rem 5rem 6rem;
}

.recommendations__title {
  color: #335576;
}

.recommendations__card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.recommendations__card {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  height: 24rem;
  width: 16rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .2);
  margin: 0 1.25rem;
}

.recommendations__link {
  text-decoration: none;
}

.recommendations__card--hawaii {
  background-image: url(../assets/images/hawaii.jpg);
}

.recommendations__card--iceland {
  background-image: url(../assets/images/iceland.jpg);
}

.recommendations__card--greece {
  background-image: url(../assets/images/greece.jpg);
}

.recommendations__text {
  color: #FFF;
  font-size: 22px;
  margin: 1rem;
}